body{
font-size:25px;


 background:#87dff5;}
h1{font-size: 80px;
font-family:sans-serif;
}


.blog-post{width:23%;
padding:19px;
background:#0345fa;
float:left;
color:#FFFFFF;
}
.ss-post{
background:#00CBFF;
width:73%;
float:right;

}
h4{font-size:30px;


}
.s-post{
background:#00CBFF;
width:75%;
height:07%;}
h3{font-size:35px;
font-size:#A100FF;
}
.blo-post{width:23%;
padding:19px;
background:#fcb25c;
}
.bl-post{width:73%;
padding-left:0px;
background:#000000;
float:right;
height:260px;
color:#FFFFFF;
}
.head-post{width:99%;
padding-left:10px;
background:#000000;
height:80px;
color:#FFFFFF;

}
.whole-post{width:100%;
height:100%;
padding-top:80px;
}

.search{
width:30%;
height:35px;
padding:0px;

}

.submit{
width:15%;
height:35px;
padding:0px;

}


.submit a{
width:15%;
height:878px;
padding:0px;

}
.ul{
top:50%;
right:50%;
transform:translate(-50%,-50%);
box-sizing:border-box;
border-radius:10px;
box-shadow:0 15px 50px, rbga(0,0,0,.2);





}

